<div class="text-center">
  <div class="feed">
    <div class="header">
      <h1>Welcome to PhotoSnap</h1>
    </div>
  </div>
    <%= image_tag("city.jpg", :class => "city") %> 
  <div class="container">
    <h1>Sign Up</h1>
      <%= form_for @user do |f| %> 
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul> 
            <% for message in @user.errors.full_messages %> 
            <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>


 
  </div>
  <br>
  <div class= "form-group"> 
    <h3>Name:</h3>
    <%= f.text_field :name, class: 'form-control myinput' %>
  </div>
  <br>
  <div class= "form-group">
   <h3><%= f.label :email %></h3>
    <%= f.text_field :email, class: 'form-control myinput' %>
  </div> 
  <br>
  <br>
  <div class="form-group">
   <h3><%= f.label :password %></h3>
    <%= f.password_field :password, class: 'form-control myinput' %>
  </div> 
  <div class="form-group">
    <h3><%= f.label :password_confirmation %></h3>
    <%= f.password_field :password_confirmation, class: 'form-control myinput' %> 
 
  <br>
   <div class="field">
    <h3>Upload Profile Picture</h3>
    <%= form_for @user, :url => users_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
<% end %>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <div class="text-center">  
    <div class="actions"> 
      <%= f.submit "submit",class: "button" %>
    </div> 
  <% end %> 
</div>
<div class="container">
<div class="row">
  <br>
  <h1>Show your World</h1> 
  </div>
  <br>
  <div class="col-sm-4 space">
    <%= image_tag("green.jpg", :class => "box") %> 
  </div>
  <div class="col-sm-4">
    <%= image_tag("tree.jpg", :class => "box") %> 
  </div>
  <div class="col-sm-4">
    <%= image_tag("water.jpg", :class => "box") %>
  </div>
</div>
</div>
<div class="footer">
      <div class="text-center">
      <br>
      <br>
      <br>
      <h1>&copy; PhotoSnap</h1>
  </div>