<div class= "feed">
  <h2><%= @user.name %>  profile</h2>
</div>
<div class= "text-center">
  <div class= "container">
    <table class="table table-hover">
    <% @user_photos.each do |photo| %>
      <h3>Title: <%= photo.title %></h3>
      <%= link_to image_tag(photo.image.url(:medium)), photo_path(photo.id), class: 'feed-pictures' %>
      <% if current_user === @user %>
        <h3> <%= link_to 'edit photo', edit_photo_path(photo), class: "btn btn-primary" %></h3>
      <% end %>
      </table>
    <% end %>
  </div>
    
      <br>
      <div class="pull-right">
    <% if current_user === @user %>
        <%= link_to 'Delete Profile', user_path(current_user), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary terminate" %>
        <br>
        <% end %>
   
  </div>
</div>

 

