<div class="text-center">
  <div class= "feed">
    <h1>Update your Post</h1> 
  </div>
  <br>
  <br>
  <%= image_tag @photo.image(:medium) %>
</div>

<% provide(:title, "Edit Post") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <br>
    <%= form_for @photo, :html => { :multipart => true } do |f| %>
      <br>
      <div class="field">
        <%= f.file_field :image %>
        <br>
        <h3>title:</h3>
        <%= f.text_field :title %>
        <br> 
        <h3>caption:</h3> 
        <%= f.text_field :caption %>
        <br>
        <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Delete Post", photo_path(@photo), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: "btn btn-danger" %>
    <%= link_to 'cancel', photos_path, class: "btn btn-warning" %>
  </div>
</div>

