 <div class="text-center">
  <h1>Post a new photo</h1>
  </div>
  <div class="container">
  <table class= "table table-striped">
      <br>
      <%= form_for @photo, :html => { :multipart => true } do |f| %>
      <br>
    <div class="field">
      <h3>title:</h3>
      <%= f.text_field :title %>
      <br> 
      <h3>Caption:</h3>
      <%= f.text_field :caption %>
      <br>
      <%= f.file_field :image %>
      <br>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    </div>
    <% end %> 
  </table>
</div>

    <div class="secfoot">
      <br>
      <br>
      <br>
      <h1>&copy; PhotoSnap</h1>
    
    </div>


