<h1>Photo Feed</h1>

<table class= "table table-striped">
<%= form_for @photo, :html => { :multipart => true } do |f| %>
<div class="field">
  <%= f.file_field :image %>

 

  
    title:
    <%= f.text_field :title %>
    <br> 
    url:
    <%= f.text_field :url %> 
    <br> 
    caption:
    <%= f.text_field :caption %>
    <br>
    <%= f.submit "Upload" %> 
  </div>
  <% end %> 
</table>
