<!DOCTYPE html>
<html>
<head>
  <title>PhotosnapApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, message| %>
  <div class="flash-message flash-message-<%= name %>">
    <%= message %> 
  </div> 
<% end %> 

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PhotoSnap</a>
    </div>
    <div class="pull-right">
      <% if current_user %> 
        Hello, <%= current_user.name %>
        <%= image_tag current_user.avatar.url(:thumb), class: 'img-circle user-avatar' %>
      <% end %> 
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <% if current_user %>  
                <li><%= link_to 'Add post', new_photo_path, :class => "post" %> </li>
                <li><%= link_to 'Users', users_path %></li>
                <li><%= link_to 'Newsfeed', photos_path %></li>
                <li><%= link_to 'Home', user_path(current_user) %></li>
                <li><%= link_to 'Logout', logout_path, method: :delete, data: {confirm: "Are you sure you want to logout?"}, class: "btn" %>
              <% else %>
                <li><%= link_to 'Register', new_user_path %> </li>
                <li><%= link_to 'Login', login_path %> </li>
                
              <% end %> 
            </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

</body>
</html>
